APP_ENV=

SERVICE_STEAM_API_KEY=
SERVICE_STEAM_USERNAME=
SERVICE_STEAM_PASSWORD=
SERVICE_STEAM_SHARED_SECRET=

SERVICE_FACEIT_API_KEY=

RECORDER_DISK_SIZE=
RECORDER_RAM_SIZE=
RECORDER_CPU_CORES=

RECORDER_DB_HOST=
RECORDER_MINIO_ENDPOINT=
