@layer theme, base, mantine, components, utilities, mantine-datatable;

@import 'tailwindcss';
@import '@mantine/core/styles.layer.css';
@import '@mantine/dates/styles.css';
@import '@mantine/carousel/styles.css';

@layer base {
  body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
}

@utility font-content {
  font-family: "Inter", sans-serif;
}

@theme {
  --breakpoint-3xl: 142em;
  --breakpoint-4xl: 172em;
  --color-primary: #E6EDF3;
  --color-secondary: #B7C7D6;

  --animate-pulse-extreme: pulse-extreme 5s ease-in-out infinite;

  @keyframes pulse-extreme {
    0% {
      opacity: 0.6
    }
    20% {
      opacity: 0.05
    }
    70% {
      opacity: 0.05
    }
    100% {
      opacity: 0.6
    }
  }
}
