name: Sqlc

on:
  pull_request:
    paths:
      - "db/**"
      - "pkg/sqlc/**"
      - "sqlc.yml"
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  diff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: sqlc-dev/setup-sqlc@v3
        with:
          sqlc-version: "1.30.0"

      - name: sqlc diff
        run: sqlc diff
